<html>
<head>

    <title>{{ 'Homework Checker' }}</title>

</head>

<link href="./lay.css"/>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<body>
<h1>Homework Checker</h1>

<form class="lay-form" action="" onsubmit="return false">
  <div class="lay-form-item">
    <div class="lay-input-block">
      <button class="lay-btn" onclick="studentclickme()">Student</button>
      <button class="lay-btn" onclick="tclickme()">Teacher</button>
    </div>
  </div>
</form>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    function studentclickme(){
        window.location.href='studentlogin?'
    }
</script>