<html>
<head>

    <title>{{ 'Homework Checker' }}</title>

</head>

<link href="./lay.css"/>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<body>
<h1>Homework Checker</h1>

<form class="lay-form" action="" onsubmit="return false">
  <div class="lay-form-item">
    <div class="lay-input-block">
        <button class="lay-btn" onclick="quiz_1()">Quiz 1</button>
        <button class="lay-btn" onclick="quiz_2()">Quiz 2</button>
        <button class="lay-btn" onclick="quiz_3()">Quiz 3</button>
        <button class="lay-btn" onclick="quiz_4()">Quiz 4</button>
        <button class="lay-btn" onclick="quiz_5()">Quiz 5</button>

    </div>
  </div>
</form>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    function quiz_1(){
        qnum = 1
        window.location.href='practical?qnum='+qnum
    }
    function quiz_2(){
        qnum = 6
        window.location.href='practical?qnum='+qnum
    }
    function quiz_3(){
        qnum = 11
        window.location.href='practical?qnum='+qnum
    }
    function quiz_4(){
        qnum = 16
        window.location.href='practical?qnum='+qnum
    }
    function quiz_5(){
        qnum = 21
        window.location.href='practical?qnum='+qnum
    }
</script>