<html>
<head>

    <title>{{ 'Quiz Management' }}</title>

</head>

<link href="./lay.css"/>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<body>
<h1>Quiz Management</h1>

<form class="lay-form" action="" onsubmit="return false">
  <div class="lay-form-item">

      <label class="lay-form-label">Question 1</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="q1" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>
      <label class="lay-form-label">Sample answer for question 1</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa1" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>

      <label class="lay-form-label">Question 2</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="q2" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>
      <label class="lay-form-label">Sample answer for question 2</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa2" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>

      <label class="lay-form-label">Question 3</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="q3" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>
      <label class="lay-form-label">Sample answer for question 3</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa3" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>

      <label class="lay-form-label">Question 4</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="q4" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>
      <label class="lay-form-label">Sample answer for question 4</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa4" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>

      <label class="lay-form-label">Question 5</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="q5" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>
      <label class="lay-form-label">Sample answer for question 5</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa5" placeholder="Please enter question" autocomplete="off" class="lay-input">
    </div>

    <div class="lay-input-block">
      <button class="lay-btn" onclick="save()">Student</button>
    </div>
  </div>
</form>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    function save(){

    }

</script>