<html>
<head>

    <title>{{ 'Quiz Page' }}</title>

</head>

<link href="./lay.css"/>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<body>
<h1>Quiz {{ quiz_num }}</h1>

<form class="lay-form" action="" onsubmit="return false">
  <div class="lay-form-item">
    <label class="lay-form-label">Question 1</label>
      {{ q1 }}
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="student-query1" style = "width: 700px;height: 40px" placeholder="Please enter your query" autocomplete="off" class="lay-input">
    </div>
  </div>
      <div class="lay-form-item">
    <label class="lay-form-label">Question 2</label>
          {{ q2 }}
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="student-query2" style = "width: 700px;height: 40px" placeholder="Please enter your query" autocomplete="off" class="lay-input">
    </div>
  </div>
      <div class="lay-form-item">
    <label class="lay-form-label">Question 3</label>
          {{ q3 }}
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="student-query3" style = "width: 700px;height: 40px" placeholder="Please enter your query" autocomplete="off" class="lay-input">
    </div>
  </div>
      <div class="lay-form-item">
    <label class="lay-form-label">Question 4</label>
          {{ q4 }}
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="student-query4" style = "width: 700px;height: 40px" placeholder="Please enter your query" autocomplete="off" class="lay-input">
    </div>
  </div>
      <div class="lay-form-item">
    <label class="lay-form-label">Question 5</label>
          {{ q5 }}
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="student-query5" style = "width: 700px;height: 40px" placeholder="Please enter your query" autocomplete="off" class="lay-input">
    </div>
  </div>

    <div class="lay-input-block">
      <button class="lay-btn" lay-submit lay-filter="formDemo" onclick="back()">Back</button> <button class="lay-btn" lay-submit lay-filter="formDemo" onclick="submitquery()">Submit</button>
    </div>
  </div>


{#     don't delete    #}
    <div><input type="hidden" id="q-num" value="{{ quiz_num }}"></input>
        <input type="hidden" id="question-num" value="{{ question_num }}"></input>
    <input type="hidden" id="student-email" value="{{ email }}"></input></div>

</form>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>


<script type="text/javascript">

    function submitquery() {
        var student_query1 = document.getElementById("student-query1")
        var student_query2 = document.getElementById("student-query2")
        var student_query3 = document.getElementById("student-query3")
        var student_query4 = document.getElementById("student-query4")
        var student_query5 = document.getElementById("student-query5")

        var query1 = student_query1.value;
        var query2 = student_query2.value;
        var query3 = student_query3.value;
        var query4 = student_query4.value;
        var query5 = student_query5.value;

        var quiz_num = document.getElementById("q-num").value
        var question_num = document.getElementById("question-num").value
        var email = document.getElementById("student-email")

        alert(quiz_num, question_num)


        window.location.href = 'query?student_query1=' + query1 + '&student_query2='+query2 +
            '&student_query3=' + query3 + '&student_query4='+query4 + '&student_query5='+ query5 +
            '&quiz_num=' + quiz_num + '&question_num=' + question_num + '&email=' + email
    }

    function back() {
        window.history.go(-1);
    }

{#{% for p in data %}#}
{#    <p>{{ p }} </p>#}
{#{% endfor %}#}



</script>
</body>