<html>
<head>

    <title>{{ 'Quiz Page' }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
      
      
      body{
          background-color:#0052a0;
          
          
      }
      
      header{
          color:white;
          
      }
      
      
      main{
          background-color:white;
          color:#0052a0;
      }
      
     
      
      
      
        </style>
</head>

<link href="./lay.css"/>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<body>
<header>
      <h1 style="text-align: center; padding-top:50px; padding-bottom:50px;">Quiz {{ quiz_num }}</h1>
      </header>
<main style="text-align: center; padding-top:100px; padding-bottom:350px;">

<form class="" action="" onsubmit="return false">


  <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
		<label class="">Question 1</label>
		<br/>
		<strong>{{ q1 }}</strong>
		<br/>
		<br/>
		<input type="text" name="u85qwh" required  lay-verify="required" id="student-query1"  placeholder="Please enter your query" autocomplete="off" class="form-control">
	  	<br/>
		<br/>
		<hr/>
	</div>
	
  </div>

  
  
  
      <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
		<label class="">Question 2</label>
		<br/>
		<strong>{{ q2 }}</strong>
		<br/>
		<br/>
		<input type="text" name="u85qwh" required  lay-verify="required" id="student-query2"  placeholder="Please enter your query" autocomplete="off" class="form-control">
	  	<br/>
		<br/>
		<hr/>
	</div>
	
  </div>
  
  
      <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
		<label class="">Question 3</label>
		<br/>
		<strong>{{ q3 }}</strong>
		<br/>
		<br/>
		<input type="text" name="u85qwh" required  lay-verify="required" id="student-query3"  placeholder="Please enter your query" autocomplete="off" class="form-control">
	  	<br/>
		<br/>
		<hr/>
	</div>
	
  </div>
  
  
  
      <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
		<label class="">Question 4</label>
		<br/>
		<strong>{{ q4 }}</strong>
		<br/>
		<br/>
		<input type="text" name="u85qwh" required  lay-verify="required" id="student-query4"  placeholder="Please enter your query" autocomplete="off" class="form-control">
	  	<br/>
		<br/>
		<hr/>
	</div>
	
  </div>
  
  
      <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
		<label class="">Question 5</label>
		<br/>
		<strong>{{ q5 }}</strong>
		<br/>
		<br/>
		<input type="text" name="u85qwh" required  lay-verify="required" id="student-query5"  placeholder="Please enter your query" autocomplete="off" class="form-control">
	  	<br/>
		<br/>
		<hr/>
	</div>
	
  </div>
  

    <div class="lay-input-block">
      <button class="btn btn-outline-primary" lay-submit lay-filter="formDemo" onclick="back()">Back</button>
      <button class="btn btn-outline-primary" lay-submit lay-filter="formDemo" onclick="submitquery()">Submit</button>
    </div>
  </div>


{#     don't delete    #}
    <div><input class="form-control" type="hidden" id="q-num" value="{{ quiz_num }}"></input>
        <input class="form-control" type="hidden" id="question-num" value="{{ question_num }}"></input>
    <input class="form-control" type="hidden" id="student-email" value="{{ email }}"></input></div>

</form>

</main>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>


<script type="text/javascript">

    function submitquery() {
        var student_query1 = document.getElementById("student-query1")
        var student_query2 = document.getElementById("student-query2")
        var student_query3 = document.getElementById("student-query3")
        var student_query4 = document.getElementById("student-query4")
        var student_query5 = document.getElementById("student-query5")

        var query1 = student_query1.value;
        var query2 = student_query2.value;
        var query3 = student_query3.value;
        var query4 = student_query4.value;
        var query5 = student_query5.value;

        var quiz_num = document.getElementById("q-num").value
        var question_num = document.getElementById("question-num").value
        var email = document.getElementById("student-email")

        alert(quiz_num, question_num)


        window.location.href = 'query?student_query1=' + query1 + '&student_query2='+query2 +
            '&student_query3=' + query3 + '&student_query4='+query4 + '&student_query5='+ query5 +
            '&quiz_num=' + quiz_num + '&question_num=' + question_num + '&email=' + email
    }

    function back() {
        window.history.go(-1);
    }

{#{% for p in data %}#}
{#    <p>{{ p }} </p>#}
{#{% endfor %}#}



</script>
</body>
