<html>
<head>

    <title>{{ 'Quiz Management' }}</title>
	
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
	<style>
      
      
      body{
          background-color:#0052a0;
          
          
      }
      
      header{
          color:white;
          
      }
      
      
      main{
          background-color:white;
          color:#0052a0;
      }
      
     
      
      
      
        </style>
</head>

<link href="./lay.css"/>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<body>
    <header>
    <h1 style="text-align: center; padding-top:50px; padding-bottom:50px;">Quiz Management</h1>
    </header>
    
    <main style="text-align: center; padding-top:100px; padding-bottom:300px;padding-left:15%; padding-right:15%;">
<form class="" action="" onsubmit="return false">

  <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
      <label class="">Question 1</label>
		<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="q1" placeholder="Please enter question" autocomplete="off" class="form-control">
    
		<br/>
		<br/>
		<br/>
      <label class="">Sample answer for question 1</label>
    	<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa1" placeholder="Please enter question" autocomplete="off" class="form-control">
		<br/>
		<br/>
		<hr/>
	</div>
	
  </div>
	
	
  <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
      <label class="">Question 2</label>
		<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="q2" placeholder="Please enter question" autocomplete="off" class="form-control">
    
		<br/>
		<br/>
		<br/>
      <label class="">Sample answer for question 2</label>
    	<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa2" placeholder="Please enter question" autocomplete="off" class="form-control">
		<br/>
		<br/>
		<hr/>
	</div>
	
  </div>

      <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
      <label class="">Question 3</label>
		<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="q3" placeholder="Please enter question" autocomplete="off" class="form-control">
    
		<br/>
		<br/>
		<br/>
      <label class="">Sample answer for question 3</label>
    	<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa3" placeholder="Please enter question" autocomplete="off" class="form-control">
		<br/>
		<br/>
		<hr/>
	</div>
	
  </div>

      <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
      <label class="">Question 4</label>
		<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="q4" placeholder="Please enter question" autocomplete="off" class="form-control">
    
		<br/>
		<br/>
		<br/>
      <label class="">Sample answer for question 4</label>
    	<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa4" placeholder="Please enter question" autocomplete="off" class="form-control">
		<br/>
		<br/>
		<hr/>
	</div>
	
  </div>

      <div class="form-group row justify-content-md-center">
	<div class="col-md-5">
		<br/>
      <label class="">Question 5</label>
		<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="q5" placeholder="Please enter question" autocomplete="off" class="form-control">
    
		<br/>
		<br/>
		<br/>
      <label class="">Sample answer for question 5</label>
    	<br/>
		<br/>
      <input type="text" name="u85qwh" required  lay-verify="required" id="qa5" placeholder="Please enter question" autocomplete="off" class="form-control">
		<br/>
		<br/>
		<hr/>
	</div>
	
  </div>

    <div class="lay-input-block">
          <button class="btn btn-outline-primary" onclick="back()">Back</button>
        <button class="btn btn-outline-primary" onclick="save()">Save</button>
    </div>
  
</form>
    </main>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
    function save(){

    }

    function back() {
        window.history.go(-1);
    }

</script>
