<html>
<head>

    <title>{{ 'Student Login Page' }}</title>

</head>

<link href="./lay.css"/>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<body>
<h1>Student Login</h1>

<form class="lay-form" action="" onsubmit="return false">
  <div class="lay-form-item">
    <label class="lay-form-label">Name</label>
    <div class="lay-input-block">
      <input type="text" name="u85qwh" required  lay-verify="required" id="student-name" placeholder="Please enter your name" autocomplete="off" class="lay-input">
    </div>
  </div>
  <div class="lay-form-item">
    <div class="lay-input-block">
      <button class="lay-btn" lay-submit lay-filter="formDemo" onclick="clickme()">Start Quiz</button>
      <button type="reset" class="lay-btn lay-btn-primary">Reset</button>
    </div>
  </div>
</form>

<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    function clickme(){
        var input = document.getElementById("student-name")
        var student_name = input.value;
        alert("Login as " + student_name)

        {#window.location.replace("quiz.html")#}
        window.location.href='student?student_name='+student_name


        {#$.ajax({#}
        {#    url: "/student",#}
        {#    data:{"student_name":student_name},#}
        {#    dataType:"json",#}
        {##}
        {#    success: function(){#}
                {#$("#student-name").val(data.from.student_name);#}
        {##}
        {#    },error:function(){#}
        {#    }#}
        {#    });#}
    }




</script>

</body>
</html>