<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="layui/css/layui.css" media="all" />
      <style>
    body{margin: 10px;}
  </style>
</head>

<body class="childrenBody">
<form class="layui-form changePwd">
    <input type="hidden" name="id"  id="id" value="{{ id }}">
    <div class="layui-form-item">
        <label class="layui-form-label">人员</label>
        <div class="layui-input-inline">
      <select name="person_name"  class="layui-input newclassname">
        <option value="">请选择</option>
      </select>
    </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">外出事项</label>
        <div class="layui-input-block">
            <input type="text" name="note" value="" placeholder="外出事项" id="note"  lay-verify="required|name" class="layui-input pwd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">体温</label>
        <div class="layui-input-block">
            <input type="text" name="temperature" value="" placeholder="体温" id="temperature"  lay-verify="required|name" class="layui-input pwd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">时间</label>
        <div class="layui-input-block">
            <input type="text" name="time" value="" placeholder="时间"  id="time" class="layui-input pwd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">进出类型</label>
        <div class="layui-input-block">
          <input type="radio" name="type" value="进入" title="进入" checked="">
          <input type="radio" name="type" value="外出" title="外出">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="*">保存</button>
           <button type="button" class="layui-btn layui-btn-primary" onclick="layerclose();">关闭</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function(){
        $.ajax({
            url: "/person/list",
            data:{},
            dataType:"json",
            success: function(data){
            var optionHtml = '';
                $.each(data.data, function (index, value) {
                    optionHtml+="<option value='" + value.name + "'>" + value.name + "</option>";

                });
                $('.newclassname').append(optionHtml);
                layui.form.render("select");//重新渲染 固定写法

            },error:function(){
            }
            });

        var id = $("#id").val();


        if(id != ""){

            $.ajax({
                url: "/access/get",
                data:{"id":id},
                dataType:"json",
                success: function(data){
                    $(".newclassname").find("option[value="+data.data.person_name+"]").attr("selected",true);
                    $("#time").val(data.data.time);
                    $("#note").val(data.data.note);
                    $("#temperature").val(data.data.temperature);
                    $("input[name=type][value="+data.data.type+"]").prop("checked","true");
                    layui.form.render("select");//重新渲染 固定写法
                    layui.form.render("radio");//重新渲染 固定写法
                },error:function(){
                }
            });
        }
    })

    function layerclose() {
        layui.use(['layer' ], function() {
            var layer = layui.layer;
            var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
            parent.layer.close(index);//关闭弹出层
            $(window.parent.document).find("iframe")[0].contentWindow.location.reload(true);//刷新父页面
        })
    }


    layui.use(['form','layer' ], function() {
        var form = layui.form;
        var layer = layui.layer;
        // 添加验证规则
        form.verify({
            name : function(value, item) {
                value = value.trim();
                if (value.length < 0) {
                    return "请输入人员名";
                }
            }
        });

        form.on('submit(*)', function(data) {
            var index = layer.msg('提交中，请稍候',{icon: 16,time:false,shade:0.8});
            var d = data.field;
            var url = "/access/add";
            if(d.id != ""){
                url = "/access/edit";
            }
            $.ajax({
                url: url,
                data:d,
                dataType:"json",
                success: function(response){
                    if(response.status == 10000){

                        var index=parent.layer.getFrameIndex(window.name);//获取当前弹出层的层级
                        parent.layer.close(index);//关闭弹出层
                        $(window.parent.document).find("iframe")[0].contentWindow.location.reload(true);//刷新父页面

                    }else{
                        layer.msg("保存失败！");
                    }
                },error:function(){
                    layer.close(index);
                    layer.msg("保存失败！");
                }
            });
            return false;
        });
    });
</script>

</body>
</html>