<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <style>
        body{
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .loginForm{
            width: 350px;
            height: 300px;
            background-color: white;
            padding: 30px 20px;
            margin-top: 50%;
            border-radius: 5px;
            box-shadow: 0 0 5px black;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4">
                <div class="loginForm">
                    <h2 align="center">江苏人员疫情管理</h2>
                    <form class="layui-form">
                <div class="layui-form-item">
                    <label>用户名:</label>
                    <div class="layui-form-block">
                        <input type="text" name="username" required lay-verify="required"
                        placeholder="请输入用户名" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label>密码:</label>
                    <div class="layui-form-block">
                        <input type="password" name="password" required lay-verify="required"
                        placeholder="请输入密码" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-form-block">
                        <button class="layui-btn" lay-submit lay-filter="loginForm">登录</button>
                    </div>
                </div>
            </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="layui/layui.js"></script>
    <script>
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer;
            var form = layui.form;

            form.on('submit(loginForm)', function (data) {
                // submit login data
<!--                $.post("user/login", {username: data.field.username, password: data.field.password}, res=>{-->
<!--                    switch (res.status) {-->
<!--                        case 200:-->
<!--                            layer.alert(res.msg, {icon:1});-->
<!--                            break;-->
<!--                        case 501:-->
<!--                            layer.alert(res.msg, {icon:2});-->
<!--                            break;-->
<!--                    }-->
<!--                });-->
                    $.ajax({
                        url: "user/login",
                        type: "post",
                        data:JSON.stringify({user_name: data.field.username, pass_word: data.field.password}),
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (response) {
                            switch (response.status) {
                                    case 10002:
                                        layer.alert(response.msg);
                                        break;
                                    case 10000:
                                        window.location.href="/home";
                                        break;
                                }
                        },
                        error: function (response) {
                            console.log(response);
                        }
                      })

                return false;
            })
        })
    </script>
</body>
</html>