<!DOCTYPE html>
<html>
<head>
   
    
        {% load static %} 
          <title>Questions and answers submitted</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      
      
        <style>
      
      
      body{
          background-color:#0052a0;
          
          
      }
      
      header{
          color:white;
          
      }
      
      
      main{
          background-color:white;
          color:#0052a0;
      }
      
     
      
      
      
        </style>
      
      
      
      
      
</head>
<body><center>


        <header>
            <h1 style="text-align: center; padding-top:50px; padding-bottom:50px;">You have submittied all questions and answers.</h1>
            </header>
	
	
	
	<main>
	<form>
        <div style="text-align: center; padding-top:350px; padding-bottom:350px;">
          
  <a class="btn btn-outline-primary" href="Menu.html">Logout</a>

  </div>
</form>
</center>
	</main>
</body>
<hr/>
</html>