<!DOCTYPE html>
<html>
<head>
   
    
        {% load static %} 
          <title>menu</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      
      
        <style>
      
      
      body{
          background-color:#0052a0;
          
          
      }
      
      header{
          color:white;
          
      }
      
      
      main{
          background-color:white;
          color:#0052a0;
      }
      
     
      
      
      
        </style>


<body>
  <header>
      <h1 style="text-align: center; padding-top:50px; padding-bottom:50px;">Question and answer</h1>
      </header>
<hr/>
<main style="text-align: center; padding-top:100px; padding-bottom:300px;padding-left:15%; padding-right:15%;">
  <!-- <form method="post" action="FinishPage.html"> -->
    <h2 style="text-align: center; padding-top:50px; padding-bottom:50px;">Question and answer</h2>
    <table class = "table" border="1" >
        <tr>
            <th>questionID</th>
            <th>question</th>
            <th>answer</th>
            <th>mark</th>
        </tr>
        {% for datadisplay in QuestionAndAnswer%}
        <tr>
            <td>{{datadisplay.questionID}}</td>
            <td><input name="{{datadisplay.question}}" value="{{datadisplay.question}}" /><br><br></td>
            <td><input name="{{datadisplay.answer}}" value="{{datadisplay.answer}}" /><br><br></td>
            <td><input name="{{datadisplay.mark}}" value="{{datadisplay.mark}}" /><br><br></td>
            <td><button class="btn btn-primary">Confirm</button></td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-outline-primary" href="UploadingScreen.html">Upload Questions</a><br/><br/>
    <a class="btn btn-outline-primary" href="Menu.html">Logout</a><br/><br/>
</main>

</body>




</html>