<!DOCTYPE html>
<html>
 
<head>
     
    <title>login</title>
	<link rel="stylesheet" href="site.css">
</head>
 
<body>
    <header>
	<h1 style="text-align: center; padding-top:50px; padding-bottom:50px;">Student Login</h1>
	</header>
	
	
	<main>
	<form action="/action_page.php">
	<div style="text-align: center; padding-top:350px; padding-bottom:350px;">
  <label for="fname">Enter your student ID:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Enter your password:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <button>Login</button>
  <button>Back</button>
  </div>
</form>
	</main>
</body>
 
</html>