USE [master]
GO
/****** Object:  Database [HWC]    Script Date: 13/11/2022 2:07:01 PM ******/
CREATE DATABASE [HWC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HWC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HWC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HWC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\HWC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HWC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HWC]
GO
/****** Object:  User [mysql]    Script Date: 13/11/2022 2:07:01 PM ******/
CREATE USER [mysql] FOR LOGIN [mysql] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [me]    Script Date: 13/11/2022 2:07:01 PM ******/
CREATE USER [me] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [LocalHost]    Script Date: 13/11/2022 2:07:01 PM ******/
CREATE USER [LocalHost] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 13/11/2022 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[questionID] [int] NULL,
	[studentID] [int] NULL,
	[answer] [text] NULL,
	[mark] [int] NULL,
	[quizID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 13/11/2022 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[questionID] [int] NULL,
	[question] [varchar](max) NULL,
	[answer] [varchar](max) NULL,
	[quizID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 13/11/2022 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[quizID] [int] NULL,
	[quizSize] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 13/11/2022 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[studentID] [int] NULL,
	[quizID] [int] NULL,
	[totalmark] [int] NULL,
	[feedback] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 13/11/2022 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [int] NULL,
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 13/11/2022 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
